.tab{
    text-align:center; 
    border: white 3px solid; 
    width: 400px;
    padding: 50px; 
    border-radius: 10px; 
    margin-left: -150px; 
    /* margin-bottom: 50px; */
    margin-top: 50px;
    background-color: rgba(5, 53, 142, 0.4);
}

input{
    font-size: 15px; 
    border-radius: 10px; 
    background-color: #2964d3; 
    text-align:center; 
    color: white; 
    width: 300px;
}